<div class="row top-row">
  <div class="col left-col" (click)="makeMove(0)">
    <span>{{getSymbol(0)}}</span>
  </div>
  <div class="col middle-col" (click)="makeMove(1)">
    <span>{{getSymbol(1)}}</span>
  </div>
  <div class="col right-col" (click)="makeMove(2)">
    <span>{{getSymbol(2)}}</span>
  </div>
</div>
<div class="row middle-row">
  <div class="col left-col" (click)="makeMove(3)">
    <span>{{getSymbol(3)}}</span>
  </div>
  <div class="col middle-col" (click)="makeMove(4)">
    <span>{{getSymbol(4)}}</span>
  </div>
  <div class="col right-col" (click)="makeMove(5)">
    <span>{{getSymbol(5)}}</span>
  </div>
</div>
<div class="row bottom-row">
  <div class="col left-col" (click)="makeMove(6)">
    <span>{{getSymbol(6)}}</span>
  </div>
  <div class="col middle-col" (click)="makeMove(7)">
    <span>{{getSymbol(7)}}</span>
  </div>
  <div class="col right-col" (click)="makeMove(8)">
    <span>{{getSymbol(8)}}</span>
  </div>
</div>


